:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background-color: #a7b39b;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: monospace;
}
* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 50px;
}
#app > * {
    border: 1px solid black;
    border-bottom: none;
}

.block {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    text-wrap: balance;
}
.noborder {
    border: none;
}

.block > * {
    flex: 1;
    text-align: center;
    width: 100%;
    height: 100%;
}

.last > *:last-child {
    border-bottom: none;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.col {
    flex-direction: column;
}

.flex1 {
    flex: 1;
}

.align {
    text-align: center;
}

.wei {
    font-weight: bold;
}

.block-title {
    align-self: center;
}
